#rightbutton {
    height: 100%;
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

#leftbutton {
    height: 100%;
    width: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

/*svg {*/
    /*border: 1px solid black;*/
/*}*/
